@using Matriz3D.Models.DTO;

@{
    ViewBag.Title = "Home Page";
}

<link href="~/Scripts/bootstrap-sweetalert/sweetalert.css" rel="stylesheet" />

<div id="contenedor">
    <div class="jumbotron">
        <h1>Suma de Cubos</h1>
        <p><a href="#" onclick="iniciar()" class="btn btn-primary btn-lg">INICIAR &raquo;</a></p>
    </div>

    @{
        if (Session["msg"] != null)
        {
            var it = (Mensaje)(Session["msg"]);
            <input type="hidden" id="msg" value="@it.msg" />
            <input type="hidden" id="tipo" value="@it.code" />
        }

        Session["msg"] = null; }

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/bootstrap-sweetalert/sweetalert.min.js"></script>
    <script src="~/Scripts/principal.js"></script>
</div>

<script>
    $(document).ready(function () {
        //msg();
    });

    function iniciar() {
        $.post("@Url.Action("Paso1")").done(function (data) {
                        
            $("#contenedor").html(data);

        }).fail(function (xhr, textStatus, errorThrown) {
            $("#contenedor").html(xhr.responseText);
        });
    }
</script>
